name: Build Tweak

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y git perl clang make ldid zip unzip

      - name: Install Theos
        run: |
          git clone --recursive https://github.com/theos/theos.git $HOME/theos
          echo "THEOS=$HOME/theos" >> $GITHUB_ENV

      - name: Build
        run: |
          export THEOS=$HOME/theos
          make clean
          make package

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: build
          path: packages/*.deb
